.profile_scientific{
    background-color: #0a382b;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.profile_scientific .back {
    position: absolute;
    right: 20px;
    top: 20px;
}
.profile_scientific .back_ar {
    position: absolute;
    left: 20px;
    top: 20px;
}
.profile_scientific .back img{
    width: 30px;
    height: 30px;
}
.profile_scientific .back_ar img{
    width: 30px;
    height: 30px;
    position: absolute;
    left:0px;
}
.profile_scientific .back span{
    border: 2px solid white;
    padding: 5px 55px 5px 5px;
    position: relative;
    right: -50px;
    border-radius: 20px 0% 0% 20px;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
    border-right: none;
}

.profile_scientific .back_ar span{
    border: 2px solid white;
    padding: 5px 10px 10px 90px;
    position: relative;
    left: -180px;
    border-radius: 0px 20px 20px 0px;
    color: white;
    transition: all 0.6s ease;
    border-left: none;
}

.back:hover.back span{
    opacity: 1; 
    visibility: visible;
}
.back_ar:hover.back_ar span{
    opacity: 1; 
    visibility: visible;
    left:-50px;
}
.profile_scientific section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    position: absolute;
    right: 200px;
    top:50px;
}

.profile_scientific .section-ar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    position: absolute;
    left: 200px;
    top:50px;
}

.profile_scientific section header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2AF6BC;
    padding: 10px 15px;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    position: relative;
    border: 1px solid #707070;
    opacity:0.68;
}

.profile_scientific section header .icon{
    position: absolute;
    left: 20px;
    bottom: 5px;
}
.profile_scientific section header .text{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 800;
}
.profile_scientific .section-ar header .text{
    font-family:changa;
}

.profile_scientific .section2 img{
    position: absolute;
    top:0;
    left: 0;
    height:100%;
    width: 27%;
}
.profile_scientific .section2-ar img{
    position: absolute;
    top:0;
    right: 0;
    height:100%;
    width: 27%;
}
.profile_scientific section .body{
    background-color: #22594e;
    width: 100%;
    border-radius: 50px;
    text-align: center;
    border: 1px solid #707070;
    padding: 20px;
    height: 460px;
}
.profile_scientific section .body .information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #c4f9ae;
    width: 80%;
    margin: 15px auto;
    border-radius: 15px;
    padding: 0px 10px;
}
.profile_scientific .section-ar .body .information input{
    text-align: right;
    font-family: 'Readex Pro', sans-serif;
}
.profile_scientific section .body .information input{
    width: 100%;
    height: 100%;
    padding: 10px;
    background:none;
    border: none;
    color:#fff;
    font-size: 20px;
}
.profile_scientific section .body .information label{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile_scientific section .body .information input:focus{
    outline: none;
}
.profile_scientific section .body .information img{
    width: 25px;
}
.profile_scientific section .body .information p{
    font-size: 20px;
    text-align: left;
    color: white;
    position: relative; 
    top:6px 
}

.profile_scientific .section-ar .body .information p{
    font-family: 'Readex Pro', sans-serif;
}

.profile_scientific section .body .footer button{
    background-color: #000;
    border:none;
    border:2px solid #199370;
    color: #fff;
    border-radius: 30px;
    transition: all 0.5s ease;
    font-size: 20px;
}
.profile_scientific section .body .footer button:hover{
    letter-spacing: 1px;
}

.profile_scientific .section-ar .body .footer button{
    font-family: 'Readex Pro', sans-serif;
}

.profile_scientific .body .bar{
    overflow: scroll;
    height: 350px;
}
.profile_scientific .body .bar::-webkit-scrollbar {
    display: none;
}
.profile_scientific .body .bar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



/*-------------------------*/
@media only screen and (max-width: 1180px){
    .profile_scientific section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 550px;
        position: absolute;
        right: 150px;
        top:30px;
    }
    .profile_scientific .section-ar{
        left: 150px;
        top:30px;
    }
}
@media only screen and (max-width: 1050px){
    .profile_scientific .section2 img{
        display: none;
    }
    .profile_scientific .section2-ar img{
        display: none;
    }
    .profile_scientific section ,
    .profile_scientific .section-ar{
        position: absolute;
        left:50%;
        transform: translate(-50%);
        top:50px;
    }
}
@media only screen and (max-width:768px){
    .profile_scientific section ,
    .profile_scientific .section-ar{
        position: absolute;
        left:50%;
        transform: translate(-50%);
        top:50px;
        width: 500px;
    }
    .profile_scientific header .back{
        display: none;
    }
    .profile_scientific header .back_ar{
        display: none;
    }
}

@media only screen and (max-width:600px){
    .profile_scientific section,
    .profile_scientific .section-ar{
        position: absolute;
        left:50%;
        transform: translate(-50%);
        top:50px;
        width: 450px;
        padding: 10px;
    }
}

@media only screen and (max-width:480px){
    .profile_scientific section,
    .profile_scientific .section-ar{
        position: absolute;
        left:50%;
        transform: translate(-50%);
        top:50px;
        width: 400px;
        padding: 10px;
        border-radius: 35px;
    }
    .profile_scientific section .body .information{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 3px solid #c4f9ae;
        width: 95%;
        margin: 10px auto;
        border-radius: 10px;
        padding: 0px 10px;
    }
    .profile_scientific section .body .information p{
        font-size: 16px;
    }
    .profile_scientific section .body .information input{
        font-size: 16px;
    }
    .profile_scientific .section-ar .body .information input{
        font-size: 16px;
    }
    .profile_scientific .section-ar .body .information p{
        font-size: 16px;
    }
}
@media only screen and (max-width:408px){
    .profile_scientific section{
        position: absolute;
        left:50%;
        transform: translate(-50%);
        top:50px;
        width: 340px;
        padding: 10px;
    }
    .profile_scientific .section-ar{
        position: absolute;
        left:50%;
        transform: translate(-50%);
        top:50px;
        width: 340px;
        padding: 10px;
    }
    .profile_scientific section .body{
        border-radius: 30px;
    }
    .profile .section1-ar .body{
        border-radius: 30px;
    }
}